include ../../../../templates/head

block main
  section#main-content
    section.wrapper.site-min-height
      .row.mt
        .col-md-12
          .content-panel
            .container-fluid
              table.table.table-striped.table-advance.table-hover
                h4
                  | All Training Sessions Today <b><span id='desc', style='margin-left: 15%'></span></b>
                  
                thead
                  tr
                    th
                      i.fa.fa-user
                      |  Member
                    th
                      i.fa.fa-phone
                      |  Trainer
                    th
                      i.fa.fa-bookmark
                      |  Action
                tbody
                  each s in sessions
                    tr
                      td #{s.userfname} #{s.userlname}
                      td #{s.trainerfname} #{s.trainerlname}
                      td
                        button.confirm.btn.btn-success.btn-xs( data-sessionid = s.sessionID, data-ptid = s.PTid )
                          i.fa.fa-thumbs-up
                        button.reject.btn.btn-danger.btn-xs( data-sessionid = s.sessionID, data-ptid = s.PTid )
                          i.fa.fa-times  
                         
include ../../../../templates/foot

script.

  $(document).ready(function () {

    function now() {
      let now = new Date()
      now = moment(now).format('MMM DD, YYYY - hh:mm:ss A')
      $('#desc').text(now)
    }
    setInterval(now, 1000)

    $('.confirm').click(function () {
      swal({
        title: 'Set Session as Counted',
        text: 'Are you sure? This action cannot be undone. By confirming, you set this session as counted.',
        type: 'warning',
        showCancelButton: true
      }).then((result) => {
        if (result.value) {
          $.post('/session/confirm', {
            sessionid: $(this).data('sessionid'),
            ptid: $(this).data('ptid')
          }).done(
            swal(
              'Success',
              'Session Confirmed',
              'success'
            ).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
          )
        }
      })
    })

    $('.reject').click(function(){
      swal({
        title: 'Void Schedule',
        text: "Are you sure? This action cannot be undone. By confirming, you set this schedule as void. This member's session count will remain unchange",
        type: 'warning',
        showCancelButton: true
      }).then(( result ) => {
        if(result.value){
          $.post('/session/void', {
            sessionid: $(this).data('sessionid'),
            ptid: $(this).data('ptid')
          }).done(
            swal(
              'Success',
              'Schedule voided',
              'success'
            ).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
          )
        }
      })
    })
  })

