include ../../../templates/tr-head

block main   
  .container
    .content
      .row.centered
        br
        br
        br
        h1(style="font-size:200px;")
          i.fa.fa-exclamation-circle.animated.wobble 
        h3 There is currently a request for change issued. Please wait for confirmation from the admin.
        h3 Sorry for the Inconvenience :(
        br
        br
        br
        br
        br
        br

include ../../../templates/foot