include ../../../templates/tr-head

block main   

  .container
    .content
      .row
        //- .col-lg-4.col-sm-4.mb
        //-   .row.mb
        //-     .darkblue-panel.pn
        //-       .darkblue-header
        //-         h5 SITE STATICS
        //-       h1.mt
        //-         i.fa.fa-user.fa-3x
        //-       p + 1,789 NEW VISITS
        //-       footer
        //-         .centered
        //-           h5
        //-             i.fa.fa-trophy
        //-             |  17,988
        //-   .row
        //-     .darkblue-panel.pn
        //-       .darkblue-header
        //-         h5 SITE STATICS
        //-       h1.mt
        //-         i.fa.fa-user.fa-3x
        //-       p + 1,789 NEW VISITS
        //-       footer
        //-         .centered
        //-           h5
        //-             i.fa.fa-trophy
        //-             |  17,988
          
            
        .col-lg-8(style='float:none!important; margin:0 auto!important') 
          section.panel
            .panel-body
              #kalendaryo
     

      
        


include ../../../templates/foot

script.
  $(document).ready(function() {
    $('#kalendaryo').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'Zumba',
          start: '2018-03-01'
        }]
    });

  });
  
