include ../../../templates/tr-head

block main   

  .container
    .content
      .row.centered
        br
        br
        br
        h1(style="font-size:200px;")
          i.fa.fa-exclamation-circle.animated.wobble
        h3 You don't have any trainee at the moment. Go invite one! 
        br
        br
        br
        br
        br
        br
        br
        br

include ../../../templates/foot
include ../../../templates/sub-foot

script.
  
  