include ../../../../templates/head

block main    

    section#main-content
      section.wrapper.site-min-height
        .row.mt
          .col-md-12
            .content-panel
              .container-fluid
                table.table.table-striped.table-advance.table-hover
                  h4
                    | All Group Classes
                  thead
                    tr
                      th
                        i.fa.fa-user
                        |  
                      th
                        i.fa.fa-clock
                        |  
                  tbody
                      tr
                        td 
                        td 
              
include ../../../../templates/foot
script.

 