include ../../../../templates/head

block main      
    section#main-content
        section.wrapper.site-min-height
            .row.mt
                .col-lg-12
                
                    
include ../../../../templates/foot