include ../../../../templates/head

block main      
	section#main-content
		section.wrapper.site-min-height
			.row.mt
				.col-lg-12
					section.panel
						.panel-body
							form.form-horizontal.style-form
								.container-fluid
									h3 
										i.fa.fa-wrench
										|
										| General Settings
										hr
								.container-fluid
									h4 System Settings
									br
									
									.row.mb
										label.col-sm-2.col-sm-2.control-label Gym Name 
										.col-sm-10
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Company Name 
										.col-sm-10
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Main Address 
										.col-sm-6
											input.form-control(type='text', placeholder='4408 Old. Sta. Mesa St, Newton Plaza')
										label.col-sm-1.col-sm-2.control-label City 
										.col-sm-3
											input.form-control(type='text', placeholder='Sta. Mesa Manila')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Office Cellphone Number
										.col-sm-10
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Email
										.col-sm-10
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Gym Logo
										.col-sm-7
											input.form-control(type='file')
										.col-sm-3
											p Acceptable file type (jpg., png)
									.row.mb
										.input-group
											span.input-group-addon Work Days:
											label.checkbox.u
												| Monday
												input#student(type='checkbox', name='sched[]', value='Monday')
												span.check
											label.checkbox.u
												| Tuesday
												input#student(type='checkbox', name='sched[]', value='Tuesday')
												span.check
											label.checkbox.u
												| Wednesday
												input#student(type='checkbox', name='sched[]', value='Wednesday')
												span.check
											span.input-group-addon
											label.checkbox.u
												| Thursday
												input#student(type='checkbox', name='sched[]', value='Thursday')
												span.check
											label.checkbox.u
												| Friday
												input#student(type='checkbox', name='sched[]', value='Friday')
												span.check
											label.checkbox.u
												| Saturday
												input#student(type='checkbox', name='sched[]', value='Saturday')
												span.check
											span.input-group-addon
											label.checkbox.u
												| Sunday
												input#student(type='checkbox', name='sched[]', value='Sunday')
												span.check
							
								.container-fluid
									br
									br
									h4 Admin Account
									br
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Name
										.col-sm-5
											input.form-control(type='text' placeholder='First Name...')
										.col-sm-5
											input.form-control(type='text' placeholder='Last Name...')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Username
										.col-sm-10
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Admin Password
										.col-sm-10
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Retype Password
										.col-sm-10
											input.form-control(type='text')

								.container-fluid
									br
									br
									h4 Measurement & fees
									br
									.row.mb
										label.col-sm-2.col-sm-2.control-label Currency Symbol
										.col-sm-4
											input.form-control(type='text')
										label.col-sm-2.col-sm-2.control-label Freezing Rate
										.col-sm-4
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Session Rate
										.col-sm-4
											input.form-control(type='text')
										label.col-sm-2.col-sm-2.control-label Changing Membership Rate
										.col-sm-4
											input.form-control(type='text')
									.row.mb
										label.col-sm-2.col-sm-2.control-label Reactivation Rate
										.col-sm-4
											input.form-control(type='text')
										label.col-sm-2.col-sm-2.control-label Training Session Rate
										.col-sm-4
											input.form-control(type='text')
										
								//- .container-fluid
								//- 	br
								//- 	br
								//- 	h4 Header & Footer
								//- 	br
								//- 	.row.mb
								//- 		label.col-sm-2.col-sm-2.control-label Header Text
								//- 		.col-sm-10
								//- 			input.form-control(type='text')
								//- 	.row.mb
								//- 		label.col-sm-2.col-sm-2.control-label Footer Text
								//- 		.col-sm-10
								//- 			input.form-control(type='text')
										

include ../../../../templates/foot