include ../../../templates/mem-head

block main   
  .container
    .content
      .row.centered
        .col-md-3
        .col-md-6
          h3 
            strong JOINED EVENTS  
          table.table
            thead
              th
                i.fa.fa-dumbbell
                |  Event Name
              th.text-center
                i.fa.fa-edit
                |  Action
            tbody(style="border:0!important;")
            each event in joinedEvents
              tr
                - console.log(event)
                td.text-left(style="border:0!important;") #{event.eventclassname}
                td(style="border:0!important;")
                  button.resign.btn.btn-danger.btn-xs(value = event.eventclassid, data-id = event.intUCEID)
                    |  RESIGN
             
                
        .col-md-3
        br
        //- .col-md-12
        //-   .search-container
        //-     form(action='#')          
        //-       .container
        //-         .col-md-2(style="position:relative; left:450px;")  
        //-           input.form-control.t-search(type='text', name='search', placeholder='Search...' style="width:160px")
        //-         .col-md-1(style="position:relative; left:450px;")  
        //-           .form-control.btn-primary(style="width:40px; position:relative; left:-40px;")
        //-             i.fa.fa-search
        br
        .col-md-12
          h3
            strong ACTIVE EVENTS
                //- - alert(a)
                //- if a=1
          each eve in eves
            .col-lg-4.col-md-4.col-sm-4.mb
              .content-panel(style="background-color:gray; padding:0; color:white; padding-top: 20px;")
                h3#slot(style='padding:0; margin:0; position:absolute;top:10px; left:20px;') #{eve.slot}
                p(style='position:absolute;top:13px; left:50px;') - remaining slots
                h3 #{eve.eventclassname}
                h6(style="margin:0!important") SAT/SUN - 1:30PM-4:30PM
                | TUE/FRI - 8:00AM-10:30AM
                br
                br
                br
                button.btn-block.btn-primary.join(style=" padding:5px; font-weight: bold; border:none;", value = eve.eventclassid)
                    | Join
                .content-panel(style="margin:0!important; color:#797979;padding:5px 10px; width:100%;box-shadow:none; border-radius:0;")
                  br
                  h6(style="margin:0!important;") 
                    b Description:
                  | #{eve.desc}
                  //- input(value = eve.eventclassid)
                  br 
                  br
              br
              br
              br
              br

include ../../../templates/foot

script.

  $(document).ready(function(){
    $('.join').click(function(){
      
      let id = $(this).val()
      swal({
        title: 'Are you sure?',
        text: "Joining an event may cost you money",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm'
      }).then((result) => {
        if (result.value) {
          $.post('/member/event/join',{id:id}).done(
           swal({
              type: 'success',
              title: 'You Succesfully joined an Event',
              showConfirmButton: false,
              timer: 1500
            }).then(()=>{
              location.reload();
            })
          )
        }
      })
    })
  })

script.
  $(document).ready(function(){
    $('.resign').click(function(){
      let uceid = $(this).data('id');
      let eventid = $(this).val();
       swal({
        title: 'Are you sure?',
        text: "You are about to resign an event",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm'
      }).then((result) => {
        if (result.value) {
          $.post('/member/event/resign',{
            uceid: uceid,
            eventid: eventid
          }).done(
           swal({
              type: 'warning',
              title: 'You are now resigned',
              showConfirmButton: false,
              timer: 1500
            }).then(()=>{
              location.reload();
            })
          )
        }
      })
     })
  })

script.
  $(document).ready(function(){
    $.post('/member/event/view', {
      eventid: eventid
    })
  })




//-  $('.view').click(function() {
//-     $(this).toggleClass('btn-primary');
//-     $(this).toggleClass('btn-danger');
//-     if ($(this).text() == "Join"){
//-       $(this).text('Resign');
//-       $('.join-prompt').modal();
//-     }
//-     else {
//-       $(this).text('Join');
//-       $('.resign-prompt').modal();
//-     }
//-   });

