block main

a#return-to-top(href='javascript:')
  i.fa.fa-angle-up

//- Jquery
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/bootstrap.min.js')
script(src='/assets/js/jquery-ui-1.9.2.custom.min.js')
script.include(src='/assets/js/jquery.dcjqaccordion.2.7.js')
script(src='/assets/js/jquery.scrollTo.min.js')
script(src='/assets/js/jquery.nicescroll.js')
script(src='/assets/js/jquery.validate.js')

//- Data Table
script(src='/assets/js/datatables.min.js')
script(src='/assets/js/datatable/buttons.flash.min.js')
script(src='/assets/js/datatable/buttons.html5.min.js')
script(src='/assets/js/datatable/buttons.print.min.js')
script(src='/assets/js/datatable/dataTables.buttons.min.js')

//- Plugins
script(src='/assets/js/moment.min.js')
script(src='/assets/js/fullcalendar/fullcalendar.min.js')
script(src='/assets/js/bootstrap-datepicker.js')
script(src='/assets/js/bootstrap-timepicker.js')
script(src='/assets/js/sweetalert2.all.min.js')
script(src='/assets/js/select2.min.js')
script(src='/assets/js/toastr.min.js')
script(src='/assets/js/Chart.min.js')

//- JSPDF
//- script(src='/assets/js/jspdf.debug.js')
script(src='/assets/js/jspdf.min.js')

//- HTML2CANVAS
script(src='/assets/js/html2canvas.js')
script(src='/assets/js/html2canvas.min.js')
  
//- Custom script
script(src='/assets/js/common-scripts.js')
script(src='/landing/js/custom.js')
script(src='/assets/js/addon-scripts.js')

script.
  $(document).ready(function () {

    //- Datatable
    $('.table-striped').DataTable({
      "language": {
        "emptyTable": "No data available in table"
      }
    });
    
    //Date picker
    $(".date").datepicker({
      changeMonth: true,
      changeYear: true,
      todayHighlight: true,
      maxViewMode: 2,
      startView: 2,
      autoclose: true
    });

    //- Time picker
    $('.time').timepicker({
      minuteStep: 5,
      showInputs: false,
      disableFocus: true
    });

  });


//- return to top with animation
script.
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() >= 50) {
        $('#return-to-top').fadeIn(200)
      } else {
        $('#return-to-top').fadeOut(200)
      }
    })
    $('#return-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 700)
    })
  })

//- Slider
script.
  $(window).on('load', function () {
    $('.preloader').fadeOut(500); 
  });

script.
  $(window).on('scroll', function(e){
    let scroll = $(window).scrollTop();
    if(scroll > 50){
         $('.dropdown.open .dropdown-toggle').dropdown('toggle');
    }
  })

